.guideData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guideData {
    max-width: 30vw;
    display: flex;
    flex-direction: column;
}

.opinion {
    background-color: #729B79;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    color: white;
    flex-direction: column;
}

.opinionsContainer {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    margin: 5vh auto;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
